body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5f819b;
}

.calculator {
    width: 350px;
    background-color: #a2c0e2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.display {
    width: 100%;
    padding: 10px 16px;
    background-color: #62747b;
    color: #fff;
    text-align:end;
}

.display input {
    width: 100%;
    height: 35px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: #fff;
    text-align:left;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 16px;
}

button {
    padding: 16px;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    background-color: #d3cbcb;
    color: #262626;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

button:hover {
    transform: scale(1.1);
    background-color: #ea990d;
}

button:active {
    transform: scale(0.95);
}
